* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 16px;
}

body {
	font-family: 'Montserrat', sans-serif;
	background-image: url(bg.jpg);
	background-size: cover;
	background-position: top center;
	color: #FFF;
}

.app-wrap {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4))
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 6rem 1rem 1rem;
}

header input,button {
	width: 200%;
	max-width: 400px;
	padding: 10px 15px;
	border: none;
	outline: none;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 1rem 0 0 1rem;
	box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.8);
	font-size: 1.25rem;
	font-weight: 300;
	transition: 0.5s ease-out;
}

header input:focus,button:active {
	background-color: rgba(255, 255, 255, 0.8);
}

header button {
	width: unset;
	border-radius: 0 1rem 1rem 0;
}

main {
	flex: 1 1 100%;
	padding: 1.5rem 1.5rem 3rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.location .city {
	font-size: 2rem;
	font-weight: 500;
	margin-bottom: 5px;
}

.location .date {
	font-size: 1rem;
}

.current .temp {
	font-size: 6rem;
	font-weight: 700;
	margin: 1rem 0px;
	text-shadow: 2px 10px rgba(0, 0, 0, 0.75);
}

.current .temp span{
	font-size: 2rem;
	font-weight: 500;
}

.current .weather,.hi-low {
	font-size: 2rem;
	font-weight: 700;
	font-style: italic;
	text-shadow: 0px 3px rgba(0, 0, 0, 0.4);
}

.current .hi-low {
	font-weight: 500;
	font-style: normal;
}